.about-section {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e6472;
  /* background-image: url(../images/Proj.03\ AboutUs.png); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.about-title {
  font-size: 48px;
}
.about-text {
  width: 50rem;
  font-size: 32px;
}

/* Full size this width and above (until I hit the other breakpoints) */
@media only screen and (min-width: 391px) {
  .about-section {
    background-image: url(../images/Proj.03\ AboutUs.png);
  }
}
/* iPhone 12 Pro Mobile 390 x 844 */
@media only screen and (max-width: 390px) {
  .about-section {
    background-image: url(../images/Responsive-iPhone12pro/About-390x844.png);
  }
}
