.catcard-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #aed9e0;
  /* background-image: url(../images/Proj.03\ CatCardsVariation4.png); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.catcard-text-container {
  position: absolute;
  bottom: 10rem;
  right: 54rem;
  color: #000000;
}
.catcard-title {
  font-size: 84px;
}
/* Full size this width and above (until I hit the other breakpoints) */
@media only screen and (min-width: 391px) {
  .catcard-section {
    background-image: url(../images/Proj.03\ CatCardsVariation4.png);
  }
}
/* iPhone 12 Pro Mobile 390 x 844 */
@media only screen and (max-width: 390px) {
  .catcard-section {
    background-image: url(../images/Responsive-iPhone12pro/390\ x\ 844\ Cats.png);
  }
}
