.footer-section {
  position: relative;
  background-color: #aed9e0;
  background-image: url(../images/FooterVariation.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
}
.hero-text-container {
  position: absolute;
  bottom: 35rem;
  right: 10rem;
  color: #5e6472;
}
.hero-title {
  font-size: 52px;
}
/* Full size this width and above (until I hit the other breakpoints) */
@media only screen and (min-width: 391px) {
  .footer-section {
    background-image: url(../images/FooterVariation.png);
  }
}
/* iPhone 12 Pro Mobile 390 x 844 */
@media only screen and (max-width: 390px) {
  .footer-section {
    background-image: url(../images/Responsive-iPhone12pro/Footer\ 390\ x\ 844.png);
  }
}
